[Unit]
Description=Alumet service Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/alumet
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
